extends layout

block content
	.col-md-4.col-md-offset-4
		h1= title
		form(method="post")
			div.form-group
				label(for="username")
					| Username:
				input(name="username",class="form-control",id="username",placeholder="Username")
			div.form-group
				label(for="password")
					| Password:
				input(name="password",type="password",class="form-control",id="password",placeholder="*****")
			div.checkbox
				label
					input(type="checkbox", name="rememberMe")
					| Remember Me
			button(type="submit" class="btn btn-default") Login